<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<!-- <div class="specialDiv"> -->
<div style="margin-top: 50px;">
	<div style="display: flex; justify-content: center;">
		<form class="formLogin" style="width: 700px;">
		  <div class="imgcontainerLogin">
		    	<img src="./resources/images/shape.png" alt="Avatar" width="10%" height="10%" class="avatar">
		  </div>
		  <div class="imgcontainerLoginLogo">
		    	<img src="./resources/images/Logotipo.png" alt="Logotipo" width="10%" height="10%" class="avatarLogo">
		  </div>
		
		  <div class="containerLogin">
			    <label><b>Username</b></label>
			    <input type="text" placeholder="Enter Username" name="uname" ng-model="loginname" required>
			
			    <label><b>Password</b></label>
			    <input type="password" placeholder="Enter Password" name="psw" ng-model="loginpassword" required>
			        
			    <button type="submit" class="buttonLogin" ng-click="login()">Login</button>
			    <!-- <label>
			      	<input type="checkbox" checked="checked"> Remember me
			    </label> -->
		  </div>
		
		  <div class="containerLogin" style="background-color:#f1f1f1">
			    <!--  <button type="button" class="cancelbtnLogin">Cancel</button> -->
			   	<!--  <button type="button" class="buttonRegistryLogin pull-right" data-toggle="modal" data-target="#registryModal">Registry</button>	 -->		    
			    <!-- <span class="psw">Registry <a ng-click="showModalWindow()">here</a></span> -->
		  </div>
		</form>
	</div>

	<div class="footer" style="margin-top: 15px;">
		<table class="noborder" cellpadding="0" cellspacing="0" style="margin: 0px auto;">
			<tr>
				<td><label class="sublogoText">Powered by Experis</label></td>
			</tr>
		</table>
	</div>
	
	<div class="footer" style="margin-top: 15px; display: flex; justify-content: center; flex-direction: row">
		<div class="containerLogin">	
			Este Proyecto, con nº de expediente IDI-20150609, ha sido cofinanciado por el Centro para el Desarrollo Tecnológico Industrial (CDTI) dentro del programa estratégico CIEN 2015.
		</div>
	</div>
	
	<div class="footer" style="margin-top: 15px; display: flex; justify-content: center; flex-direction: row">
		<div class="containerLogin">			
				<img src="./resources/images/cdti.jpg" alt="Logotipo" width="80%" height="80%" class="">				
		</div>
		<div class="containerLogin">	
			<img src="./resources/images/feder.jpg" alt="Logotipo" width="80%" height="80%" class="">
		</div>
	</div>
</div>





